.cardImg {
    width: 100%;
    height: 100%;
}

.cardImg img:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Capa azulada semitransparente */   
    color: white;


}

.imgContainer {
    position: relative;
}

.captionContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0.5, 0.5, 0.5, 0.4);
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 2;
}

.imgCaption {
    position: absolute;
    color: orange;
    margin: auto;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: opacity 0.5s ease;
  }

  .captionContainer:hover {
    opacity: 1;
  }

  .cartel {
    position: absolute;
    top: 15px;
    right: 0;
    width: 120px;
    padding: 5px;
    color: orange;
    background-color: rgb(76, 104, 33);
    z-index: 3;
    text-align: center;
  }